{% comment %} Auto-apply availability filter if not already set {% endcomment %}
<script>
  (function() {
    const url = new URL(window.location.href);
    if (!url.searchParams.has("filter.v.availability")) {
      url.searchParams.set("filter.v.availability", "1");
      window.location.replace(url.toString());
    }
  })();
</script>

{% unless section.settings.enable_pagination %}
<script
  src="{{ 'results-list.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>
{% endunless %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<results-list
  class="section product-grid-container spacing-style color-{{ section.settings.color_scheme }}"
  style="--padding-block-start: {{ section.settings.padding-block-start }}px; --padding-block-end: {{ section.settings.padding-block-end }}px;"
  section-id="{{ section.id }}"
>
  {% render 'skip-to-content-link', href: '#ResultsList', text: 'accessibility.skip_to_results_list' %}

  <div
    class="collection-wrapper grid gap-style"
  >
    {% paginate search.results by section.settings.product_shown %}
      {% if search.results_count > 0 %}
        {% content_for 'block', type: 'filters', id: 'filters', results: search, results_size: search.results_count %}
        {% assign products = search.results | where: 'object_type', 'product' %}
      {% else %}
        {% assign collection = settings.empty_state_collection | default: collections.all %}
        {% assign default_title = 'content.search_results_resource_products' | t %}
        {% assign title = settings.empty_state_collection.title | default: default_title %}
        {% assign products = collection.products %}
      {% endif %}

      {% capture children %}
        {% for product in products %}
          <li
            id="{{ section.id }}-{{ product.id }}"
            class="product-grid__item product-grid__item--{{ forloop.index0 }}"
            data-page="{{ paginate.current_page }}"
            data-product-id="{{ product.id }}"
            ref="cards[]"
            style="--card-index: {{ forloop.index0 | at_most: 8 }}"
          >
            {% content_for 'block', type: '_product-card', id: 'product-card', closest.product: product %}
          </li>
        {% endfor %}
      {% endcapture %}

      {% render 'product-grid',
        section: section,
        children: children,
        products: products,
        paginate: paginate,
        title: title
      %}

      {% if section.settings.enable_pagination %}
        {% if paginate.pages > 1 %}
          <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
            <ul class="pagination__list" role="list">

              {%- if paginate.previous -%}
                <li class="pagination__item pagination__item--prev">
                  <a href="{{ paginate.previous.url | escape }}#ResultsList"
                    rel="prev"
                    aria-label="{{ 'general.pagination.previous' | t }}">
                    <span class="pagination__arrow">◄</span> Föregående
                  </a>
                </li>
              {%- endif -%}

              {%- for part in paginate.parts -%}
                {% if part.is_link %}
                  <li class="pagination__item">
                    <a href="{{ part.url | escape }}#ResultsList"
                      aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                      {{ part.title }}
                    </a>
                  </li>
                {% elsif part.title == paginate.current_page %}
                  <li class="pagination__item pagination__item--current" aria-current="page">
                    {{ part.title }}
                  </li>
                {% else %}
                  <li class="pagination__item pagination__item--ellipsis">
                    <span class="pagination__ellipsis">{{ part.title }}</span>
                  </li>
                {% endif %}
              {%- endfor -%}

              {%- if paginate.next -%}
                <li class="pagination__item pagination__item--next">
                  <a href="{{ paginate.next.url | escape }}#ResultsList"
                    rel="next"
                    aria-label="{{ 'general.pagination.next' | t }}">
                    Nästa <span class="pagination__arrow">►</span>
                  </a>
                </li>
              {%- endif -%}

            </ul>
          </nav>
        {% endif %}
      {% endif %}
    {% endpaginate %}
  </div>
</results-list>

{% style %}
  {% if section.settings.enable_pagination %}
    .collection-wrapper.grid.gap-style {
        display: flex;
        flex-direction: column;
    }
    .pagination__ellipsis {
      color: #000000;
    }
    .pagination { margin-top: var(--spacing-6, 36px); text-align: center; }
    .pagination__list { display: inline-flex; gap: 8px; align-items: center;list-style: none; }
    .pagination__item { padding: 2px; border-radius: 0px; }
    .pagination__item a { text-decoration: none; }
    .pagination__item--current { font-weight: 600; outline: 1px solid var(--color-border, #ddd); }
    .pagination__item--prev a, .pagination__item--next a { font-weight: 500; outline: none}
  {% endif %}
{% endstyle %}

{% schema %}
{
  "name": "t:names.search_results",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.edit_empty_state_collection_in_theme_settings"
    },
    {
      "type": "range",
      "id": "product_shown",
      "label": "Products per page",
      "min": 6,
      "max": 50,
      "step": 1,
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "enable_pagination",
      "label": "Enable Pagination",
      "default": false
    },
    {
      "type": "select",
      "id": "layout_type",
      "label": "t:settings.type",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "organic",
          "label": "t:options.editorial"
        }
      ],
      "default": "grid"
    },
    {
      "type": "select",
      "id": "product_card_size",
      "label": "t:settings.card_size",
      "options": [
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "large",
          "label": "t:options.large"
        },
        {
          "value": "extra-large",
          "label": "t:options.extra_large"
        }
      ],
      "default": "medium",
      "visible_if": "{{ section.settings.layout_type == 'grid' }}"
    },
    {
      "type": "select",
      "id": "mobile_product_card_size",
      "label": "t:settings.mobile_card_size",
      "options": [
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "large",
          "label": "t:options.large"
        }
      ],
      "default": "small"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "product_grid_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "centered",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "centered"
    },
    {
      "type": "checkbox",
      "id": "full_width_on_mobile",
      "label": "t:settings.full_width_on_mobile",
      "default": true,
      "visible_if": "{{ section.settings.product_grid_width != 'full-width' }}"
    },
    {
      "type": "range",
      "id": "columns_gap_horizontal",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "columns_gap_vertical",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.section_layout"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    }
  ],
  "presets": []
}
{% endschema %}
